<title>Analytics</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}




{% if user.is_authenticated and user.account_type == "ADMIN" %}
  <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <div class="container">
      <h1 class="text-center">Analytics Dashboard</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          {{ plot_div|safe }}
        </div>
        <div class="col-md-6">
          {{ plot_patients|safe }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          {{ plot_pie_dist|safe }}
        </div>
        <div class="col-md-6">
          {{ plot_box_dist|safe }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          {{ plot_bar_day_service|safe }}
        </div>
        <div class="col-md-6">
          {{ plot_pie_completed|safe }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          {{ plot_scatter_tod|safe }}
        </div>
        <div class="col-md-6">
          {{ plot_line_dist|safe }}
        </div>
      </div>
      <hr>
    </div>
  </div>
{% endif %}
{% endblock %}