{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Specifies the character encoding for the HTML Document-->
        <meta charset="utf-8">
        <!-- Sets the viewport width to the device width and sets the initial zoom level to 1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Microsoft Tile Color -->
        <meta name="msapplication-TileColor" content="#da532c">
        <!-- Theme Color for mobile browsers -->
        <meta name="theme-color" content="#ffffff">
        
        <!--Favicon -->
        <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <!-- Apple Touch Icon for iOS devices -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <!-- Favicon for modern browsers -->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <!-- Web App Manifest for Android devices -->
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <!-- Safari Pinned Tab Icon -->
        <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
        <!-- Favicon for older browsers -->
        <link type="favicon" rel="icon" href="{% static 'favicon.ico' %}">
        
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Animate.css library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <!--Google Sans font-->
        <link href="https://fonts.googleapis.com/css?family=Google+Sans&display=swap" rel="stylesheet">

        <!-- Add the Playfair Display font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>
        <!-- JavaScript Bundle with Popper -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <!-- AJAX Descriptor for the CHATGPT endpoint -->
        <script type="text/javascript" src="{% static 'ajax.js'%}" defer></script>

        <!-- layout.css -->
        <link type="text/css" rel="stylesheet" href="{% static 'layout.css' %}">

        <!--My JS-->
        <script src="{% static 'script.js' %}" type="text/javascript" defer></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar sticky-top position-fixed bg-white navbar-white navbar-expand-lg shadow-sm">
                <div class="container-fluid">
                    <a class="navbar-brand  cHover cGreen fs-2" href="{% url 'index' %}">
                        POZA
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0  fs-5">
                            <li class="nav-item">
                                <a class="nav-link active cHover" aria-current="page" href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active cHover" href="#footer">Contact Us</a>
                            </li>     
                            <li class="nav-item">
                                <a class="nav-link active cHover" href="{% url 'booking' %}">Online Booking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active cHover" href="{% url 'doctors' %}">Doctors</a>
                            </li>                   
                            {% if user.is_authenticated %}
                            <!--Clinic Staff Link-->
                            <li class="nav-item">
                                <a class="nav-link active cHover" href="{% url 'staffPanel' %}">Staff Panel</a>
                            </li>
                            <!--Chatbot Link--> 
                            <li class="nav-item">
                                <a class="nav-link active cHover" href="{% url 'chat' %}">MediBot</a>
                            </li> 
                            <li class="nav-item dropdown me-3 fs-5">
                                <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User
                                </a>
                                <ul class="dropdown-menu  border zNav">
                                    <li>
                                        <a class="dropdown-item cHover" href="{% url 'userPanel' %}">User Panel</a>
                                    </li>
                                    {% if user.account_type != "PATIENT" %}
                                    <li><hr class=""></li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" href="{% url 'staffPanel' %}">Staff Panel</a>
                                    </li>    
                                    {% endif %}       
                                    {% if user.is_superuser %}
                                    <li><hr class=""></li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'register' %}">Doctor Registration Form</a>
                                    </li>
                                    <li><hr class=""></li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'analytics' %}">Analytics Dashboard</a>
                                    </li>
                                    {% endif %}
                                    <li><hr class=""></li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ml-auto">
                                <span class="nav-link active cHover" id="clock"></span>
                            </li>
                            {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sign in/Sign Up
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'login' %}">Log in</a></li>
                                <li><a class="dropdown-item" href="{% url 'register' %}">Sign up</a></li>
                                </ul>
                            </li>   
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            
            <style>
                .toast {
                    position: absolute;
                    height: auto;
                    width: auto;
                    top: 30%;
                    left: 50%;
                    background-color: antiquewhite;
                    transform: translate(-50%, -50%);
                }
                .toast button{
                    margin-top: .6em;
                    height: .5%;
                    width: 3%;
                    position: absolute;
                }
            </style>
            <!--Messages Start-->
            {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissible fade show text-center toast" role="alert">
                        <h3 class="display-3">{{ message }}</h3>
                        <button type="button" class="btn-close fs-1 ms-2" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
            
            {% endfor %}
            {% endif %}
            <!--Messages End-->

        </header>


        {% block body %}
        {% endblock %}
        <footer class="bg-dark text-white" id="footer">
            <div class="container-fluid pt-3">
              <section class="">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3 text-center">
                    <!-- Clinic name column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                        <!-- Clinic Name  -->
                        <h1 class="text-uppercase fw-bold mb-4 textGradient animate__animated animate__pulse" > 
                            POZA                             
                        </h1>
                        <!---Clinic logo-->
                        <img src="{% static 'logo_1.png' %}" alt="POZA Logo">
                    </div>
                    <!-- Services column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-12 mx-auto mb-4">    <!-- Links -->
                        <hr>
                        <h3 class="text-uppercase fw-bold mb-4 textGradient animate__animated animate__pulse"> Services </h3>
                        <hr>
                        {% for service in service_descriptions %}
                        {% if forloop.counter0|divisibleby:10 %}
                            <div class="row">
                        {% endif %}
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-6 col-4">
                            <p>
                            <a href="{% url 'booking' %}" class="uLine" style="color: inherit;" title="{{ service.1 }}" aria-label="{{ service.1 }}">
                                {{ service.0 }}
                            </a>
                            </p>
                        </div>
                        {% if forloop.counter|divisibleby:10 or forloop.last %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>                    <!-- Google map column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                        <hr>
                        <h3 class="text-uppercase fw-bold mb-4 textGradient animate__animated animate__pulse"> 
                            OUR LOCATION
                        </h3>
                        <hr>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.24824277994!2d36.7727855!3d-1.286842!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1a051a09442b%3A0x594ccea99edce21c!2sGertrude&#39;s%20Children&#39;s%20Hospital%20-%20Lavington%20Clinic!5e0!3m2!1sen!2ske!4v1685115513137!5m2!1sen!2ske" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    </div>
                </div>
                </section>
            </div>
        </footer>
    <script>
        function updateTime() {
            const now = new Date();
            const time = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });
            document.getElementById('clock').textContent = time;
        }
    
        setInterval(updateTime, 1000);
    </script>    
    </body>
</html>