<title>Sign Up</title>
{% extends 'layout.html' %}
{% load static %}
{% block body %}

{% if user.is_superuser %}
<div class="bg-white fPersian">
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
        <h1 class="text-black text-center p-3 ">Doctor Registration</h1>
        <form method="POST" enctype="multipart/form-data" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <b>{{ field }}</b>: {{ error }}
        {% endfor %}
        {% endfor %}
</div>
{% endif %}
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
        </br>
        </br>
    </form>
    </div>
    <br/><br/><br/>
{% elif user.is_authenticated %}
<h1 class="p-2 text-center mb-5 text-success">You Are Already Signed in!</h1>

{% else %}
<div class="bg-white fPersian">
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5">
        <label class="form-label fs-3 mt-5">Already Have An Account?</label>   
        <a href="{% url 'login' %}" class="btn btn-primary">Sign in</a>
        
        <h1 class="text-black text-center p-3 ">Sign Up Form</h1>
        <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
        </br>
        </br>
    </form>
    </div>
    <br/><br/><br/>
    </div>    

{% endif %}
{% endblock %}